
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.footer_outer_container{
    background-color: #111;
    color: gray;
    display: flex;
    justify-content: center;
}
.footer_inner_container{
    width: 60%;
    height: 500px;

}
.footer_icons{
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
    column-gap:40px;
}
.footer_data{
    display: flex;
    justify-content: space-between;
    color: white;
font-family: "Roboto Mono", monospace;
}

.footer_data ul{

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;

}

.footer_data li{
    cursor: pointer;
}


.developer img, li{
     width: 100%;
    object-fit: contain;
    max-height: 400px;
    transition: transform 450ms;
    margin-right: 10px;
    font-weight: 600;
    font-family: "Roboto Mono", monospace;
    list-style: none;
}
.developer:hover{
     transform: scale(1.08);

}
.copy_writer{
    font-size: 12px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
 .footer_data{
    display: inline-block;
    justify-content: space-between;
}

}