

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #111;
 font-family: "Bree Serif", serif;
}
.row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    transition: transform 450ms;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}
}

.welcomeText{
  color: rgb(235, 16, 16);
  text-align: center;
  font-family:'Bebas Neue', sans-serif;
  font-weight: 800;
  padding-top: 70px;
}

.row_posters{
    /* display: flex; */
    overflow-y: hidden;
    overflow-x: scroll;
    /* padding: 40px; */

}

@media screen and (min-width: 768px) {
  .row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

}
}


.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster:hover{
    transform: scale(1.09);
}

.row_posterlarge{
    max-height: 250px;

}
.row_posterlarge:hover{
    transform: scale(1.09);
}

.row{
    margin-left: 20px;
    color:white;
}


@media screen and (max-width: 768px) {
  .title{
    text-align: center;
    /* color: brown; */
}
}